<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "VISATORUSS" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="/jquery.js"></script>
  <script src="/x5engine.js"></script>
  <script src="/ruffle.js"></script>
  <script src="/main.js"></script>
  <script src="/bundle-playback.js"></script>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>

    <title>Invitation to russia for £9,99 - fill out application form now</title>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="ImageToolbar" content="False" /><![endif]-->
    <meta name="generator" content="Incomedia WebSite X5 Professional 13.1.8.23 - www.websitex5.com">
    <meta name="description" content="Our company's Russian invitation letter just for £9.99 which consists of tourist confirmation and tourist voucher, will ensure you a Russian visa with 100% guarantee">
    <meta name="keywords" content="Invitation for Russian, russian invitation letter, invitation to russia, russia visa invitation, invitation for russian visa">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="Invitation to russia for £9,99 - fill out application form now">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="Our company's Russian invitation letter just for £8.99 which consists of tourist confirmation and tourist voucher, will ensure you a Russian visa with 100% guarantee">
    <meta property="og:image" content="assets/favImage.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="219">
    <meta property="og:image:height" content="89">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        window.onload = function(){ checkBrowserCompatibility('Your browser does not support the features necessary to display this website.','Your browser may not support the features necessary to display this website.','[1]Update your browser[/1] or [2]continue without updating[/2].','http://outdatedbrowser.com/'); };
        x5engine.utils.currentPagePath = 'index.html';
    </script>
    <link rel="icon" href="assets/favicon.png" type="image/png">
    <link rel="alternate" hreflang="en-gb" href="/">
    <link rel="alternate" hreflang="de-de" href="/de">
    <link rel="alternate" hreflang="en-us" href="/us/">
    <link rel="alternate" hreflang="fr-fr" href="/fr/">
    <meta name="robots" content="all, index, follow">
    <link rel="canonical" href="/">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,300italic,400italic,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style>
        .myh {
            text-align: left;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-size: 23pt;
            line-height: 1.2em;
            font-weight: 400;
        }
        .myh2 {
            text-align: center;
            color: #252525;
            font-family: 'Roboto', sans-serif;
            font-size: 18pt;
            line-height: 1.2em;
            font-weight: 400;
        }
        .myred {
            text-align: center;
            color: #c50508;
            font-family: 'Roboto', sans-serif;
            font-size: 18pt;
            line-height: 1.2em;
            font-weight: 400;
        }
        /* стили цен */
        .price {
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 11pt;
            text-align: left;
            color: #fff;
            margin: 0px 0px 0px 15px;
        }
        .price-white {

            width: 100%;
            height: 100%;
            font-family: 'Roboto', sans-serif;
            background-color: red;
            padding: 50px;
            font-size: 11pt;
            max-width: 200px;
            text-align: left;
            color: #3c3c3c;
            margin: auto
        }
        .price-title {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18pt;
            text-align: left;
            margin: 20px 0px 7px 0; /* Отступы вокруг*/
        }
        .pricing-logo {
            float:left; /* Выравнивание по левому краю */
            margin: 4px 7px 7px 0; /* Отступы вокруг картинки */
        }
        .pricing-line {
            padding: 15px 0px 15px 0px
        }
        .price-text {
            margin: 0px 0px 0px 37px
        }
        .price-text-euro {
            margin: 10px 0px 0px 37px
        }
        .price-text-calendar {
            margin: 10px 0px 0px 37px
        }
        .price-text-big {
            margin: 0px 0px 0px 37px
        }
        .price-leader {
            margin: 0px 0px 0px 0px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18pt;
            text-align: center;
        }
        .price-price {
            margin: 15px 0px 15px 0px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 24pt;
            text-align: center;
        }
        /*.trustlogo {*/
        /*    float: left; !* Обтекание по правому краю *!*/
        /*    background: ; !* Цвет фона *!*/
        /*    border: ; !* Параметры рамки *!*/
        /*    padding: 10px; !* Поля вокруг текста *!*/
        /*    margin-right: 0px; !* Отступ справа *!*/
        /*    width: 40%; !* Ширина блока *!*/
        /*}*/

        /* стили блока аккордеон */
        .accordion {
            width:100%;
            max-width: 800px;
            margin: 0 auto
        }
        /* секции аккордеона */
        .accordion .accordion_item {
            margin-bottom:1px;
            position:relative
        }
        /* заголовки панелей аккордеона */
        .accordion .title_block {
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            text-align: left;
            font-size: 18px;
            color: #212121;
            cursor:pointer;
            background: #FAFAFA;
            padding:10px 55px 10px 15px;
            /*-webkit-transition:all .2s linear 0;*/
            /*-webkit-transition-delay:.2s 0;*/
            /*transition:all .2s linear 0*/
        }
        /* переключатель панелей, положение вниз */
        .accordion .title_block:before {
            content:'';
            height:8px;
            width:8px;
            display:block;
            border:2px solid #fefefe;
            border-right-width:0;
            border-top-width:0;
            -ms-transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            transform:rotate(-45deg);
            position:absolute;
            right:20px;
            top:18px
        }
        /* активный переключатель, положение вверх */
        .accordion .active_block .title_block:before {
            border:2px solid #fefefe;
            border-left-width:0;
            border-bottom-width:0;
            top:18px
        }
        .accordion .title_block:hover {
            background: #1565C0;
            color:#fff
        }

        /* заголовок активного блока  */
        .accordion .active_block .title_block {
            background: #1565C0;
            color:#fff
        }
        /* блоки с содержанием */
        .accordion .info {
            display:none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-align: left;
            padding:20px 15px;
            overflow: hidden;
            background:#fff
        }
        /* параграф внутри блоков с содержанием */
        .accordion .info_item {
            margin-bottom:10px
        }
        /* картинки внутри аккордеона */
        .accordion .info img {
            height: auto;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
        /* полноразмерная картинка */
        .large-img {
            width: 100%;
            margin-bottom: 10px;
        }
        /* миниатюра слева */
        .img-left {
            width: 25%;
            float:left;
            margin:5px 15px 5px 0;
        }
        /* миниатюра справа */
        .img-right {
            width: 25%;
            float:right;
            margin:5px 0 5px 15px;
        }
        .link {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12pt;
            text-decoration: none;
            text-align: right;
        }
        .link:hover {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12pt;
            text-decoration: underline;
            text-align: right;
        }
        /*.eur  {background: url(assets/eur.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.eur:hover {background: url(assets/eur_huver.jpg);}*/

        /*.gbp  {background: url(assets/gbp.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.gbp:hover {background: url(assets/gbp_huver.jpg);}*/

        /*.usd  {background: url(assets/usd.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.usd:hover {background: url(assets/usd_huver.jpg);}*/

        /*.cad  {background: url(assets/cad.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.cad:hover {background: url(assets/cad_huver.jpg);}*/

        /*.aud  {background: url(assets/aud.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.aud:hover {background: url(assets/aud_huver.jpg);}*/

        /*.jpy  {background: url(assets/jpy.jpg); width: 75px; height: 30px; float: left; margin-right: 15px; margin-top: 15px;}*/
        /*.jpy:hover {background: url(assets/jpy_huver.jpg);}*/

        /*.wwf  {background: url(assets/wwf3.jpg); width: 65px; height: 90px; float: left; margin-right: 0px; margin-top: 0px;}*/

        @media screen and (min-width: 1099px){
            .typeform {display: none}}

        .nazad {
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-size: 12pt;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            background: #68b12f;
            border-radius: 3px;
            padding: 15px;
            text-decoration: none;
            border: 2px solid #68b12f;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
            -ms-transition: All 0.3s ease;
            transition: All 0.3s ease;
        }
        .nazad:hover {
            background: transparent;
            border: 2px solid #68b12f;;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
            -ms-transition: All 0.3s ease;
            transition: All 0.3s ease;
        }
        .center {
            text-align: center;
        }
        .contacts_fake {
            display: none;
        }

        .flash {
            padding: 12px 18px;
            margin: 10px 0;
            border-radius: 6px;
            font-size: 14px;
            position: fixed;
            z-index: 99;
        }

        .flash.notice {
            background-color: #e6ffe6;
            border: 1px solid #7ad97a;
        }

        .flash.alert {
            background-color: #ffe6e6;
            border: 1px solid #ff7a7a;
        }
    </style>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const flash = document.querySelectorAll(".flash");
          flash.forEach(el => {
              setTimeout(() => {
                  el.style.transition = "opacity 0.5s";
                  el.style.opacity = "0";
                  setTimeout(() => el.remove(), 500);
              }, 3000); // исчезает через 3 секунды
          });
      });
  </script>
</head>
<body>
<% flash.each do |type, message| %>
  <div class="flash <%= type %>">
    <%= message %>
  </div>
<% end %>
<%= yield %>
</body>
</html>
